<h1>Formerly known as the Electronic Card Catalog</h1>
<td>
<%= image_tag("https://imagecat2.princeton.edu/images/card2.gif", alt: "card catalog image") %>
<td>

<p>This dictionary catalog contains records for items.</p>

<p>Records are arranged alphabetically with authors, titles, and subjects interfiled.</p>

<p> Please enter a search string to go to the guide card nearest that search string. </p>

<%= form_tag "/search", method: "GET" do %>
  <%= text_field_tag :search_term, params[:search_term] %> 
  <%= submit_tag "Go" %>
<% end %>
<hr>
<p><%= link_to("Filing rules", filing_rules_path) %></p>
<hr>
<p>For items cataloged 1980+ and for most serials, consult the <%= link_to("Online Catalog", "https://catalog.princeton.edu/") %>.</p>
<hr>
<p>Send any comments or questions about Electronic Card Catalog here: <%= link_to("Email Us", "https://library.princeton.edu/help/email-us") %></p>