<h1>Formerly known as the Electronic Card Catalog</h1>

<p>This dictionary catalog contains records for items cataloged before 1980.</p>

<p>Records are arranged alphabetically with authors, titles, and subjects interfiled.</p>

<p> Please enter a search string to go to the guide card nearest that search string. </p>

<%= form_tag "/search", method: "GET" do %>
  <%= text_field_tag :search_term, params[:search_term] %> 
  <%= submit_tag "Go" %>
<% end %>

<p><%= link_to("Filing rules", filing_rules_path) %></p>

<p>For items cataloged 1980+ and for most serials, consult the <%= link_to("Online Catalog", "https://catalog.princeton.edu/") %>.</p>

<p>Send any comments or questions about Electronic Card Catalog here: <%= link_to("Email Us", "https://library.princeton.edu/help/email-us") %></p>