<!DOCTYPE html>
<html>
  <head>
    <title>ImagecatRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <div id="banner">
    <h1> ImageCat </h1>
      <p>A rewrite of <a href="https://imagecat.princeton.edu/">imagecat.princeton.edu</a> using ruby on rails framework.</p>
  </div>

  <body>
    <%= yield %>
  </body>

  <div id="footer">
    <body>
      Test text for footer of application
    </body>
  <div id="copyright">
    &copy; <%= Date.current.year %> The Trustees of Princeton University
  </div>
  </div>
</html>
